/* GENERAL */

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  background-color: #faead4;
  color: #524232;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
}

p {
  font-size: 17px;
  line-height: 1.4;
}

a {
  color: #c7ac87;
  font-weight: bold;
  text-decoration: none;
}

.helper-text {
  font-size: 14px;
}

.fade-in {
  -webkit-animation: fadein 0.5s linear forwards;
  animation: fadein 0.5s linear forwards;
  /* padding: 10px; */
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* SCROLLER */

.scroller {
  position: absolute;
  top: 0;
  height: 100vh;
  z-index: -1;
  /* width: 100%; */
  overflow: hidden;
  margin: 0 10px;
}

.scroller p {
  color: #dbc9af;
  text-align: justify;
  font-size: 11px;
  transition: margin 400s linear;
}

/* BUTTONS */

.btn-container {
  display: flex;
}

.btn {
  border: none;
  background: none;
  cursor: pointer;
}

.next-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  background-color: #faead4;
  color: #998168;
  /* border: 1px solid black; */
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 17px;
}

.next-btn:hover {
  background-color: #b59d84;
  color: #fff5e8;
}

/* FLEX ITEMS */

.flex-legend {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.flex-legend-item {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin: 0 15px 5px;
}

.flex-legend-item-square {
  width: 10px;
  height: 10px;
  color: inherit;
  background-color: currentColor;
  margin-right: 5px;
}

/* ARROWS */

.arrow {
  border: solid #856c51;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

/* TOOLTIP */
.tooltip {
  position: absolute;
  z-index: 10;
  opacity: 0.9;
  background-color: #fffcf7;
  border-radius: 3px;
  padding: 12px 15px;
  width: 150px;
  /* border: 1px solid black; */
}

.tooltip h2 {
  margin: 0px;
  margin-bottom: 5px;
  font-size: 15px;
}

.tooltip p {
  font-size: 13px;
  margin: 0px;
}

/* MOBILE ONLY */

.banner {
  position: absolute;
  z-index: 30;
  background-color: #faead4;
  width: 100vw;
  height: 100vh;
}

.mobile-only {
  visibility: hidden;
}

@media only screen and (max-width: 860px) {
  .mobile-only {
    visibility: visible;
  }
}
