body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  background-color: #faead4;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
}

.fade-in {
  -webkit-animation: fadein 0.5s linear forwards;
  animation: fadein 0.5s linear forwards;
  padding: 10px;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flex-legend {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.flex-legend-item {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin: 0 15px 5px;
}

.flex-legend-item-square {
  width: 10px;
  height: 10px;
  color: inherit;
  background-color: currentColor;
  margin-right: 5px;
}
