.progress-bar {
  position: relative;
  height: 10px;
  width: 100vw;
  background: #faead4;
  z-index: 10;
}

.filler {
  /* background: #edcfa6; */
  background: #e3cdb8;
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
}
