.tick text {
  font-size: 11px;
  color: #543719;
}

.book-info {
  width: 60vw;
  margin-top: 20px;
  height: 100px;
}

.book-info h4 {
  margin: 0;
  margin-bottom: 10px;
}

.book-info p {
  margin: 0;
}
